img{
    border: 2px solid rgb(0, 3, 185);
    border-radius: 50%;
    padding: 10px;
}

h1{
    color: aqua;
    font-size: 55px;
    font-family: 'Times New Roman', Times, serif;
}

.Soyp{
    color: rgb(253, 253, 253);
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}

body{
    background-image: url(imagenes/img-fondo.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}